.clothes_image{
    width: 95px;
    height: 150px;
}
.clothes_card{
    background-color: #aeaeae;
    width: min-content;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    /* margin-bottom: 50px; */
}

.clothes{
    width: min-content;
    display: inline-block;
    
}
.item_name{
    margin: 0%;
    height: 65px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: -20%;
    margin-top: 20%;
    display: inline-table;

    
}

.reviews{
    display: flex;
    margin-left: 5px;
    width: min-content;

}

.review-div{
    width: 155px;

}

.review{
    display: inline;
    margin-right: -25%;
    width: fit-content;
    text-align: center;
    /* margin-left: 15px; */
}

.list_clothes{

}

button{
    background-color: rgba(23, 26, 32, 0.8); 
 border: none; 
 border-radius: 6px; 
 color: #fff; 
 flex-grow: 1; 
 font-family: SFProText-Regular, Helvetica, Arial, sans-serif; 
 font-size: 15px; 
 height: 36px; 
 line-height: 20px; 
 margin-left: 8px; 
 margin-right: 6px; 
 min-width: 130px; 
 padding: 0 16px 0 16px; 
 color:white; 
 cursor: pointer; 
 margin-bottom: 2px;

}

button:hover{
    background-color: rgba(23, 26, 32, 1); 
    cursor: pointer; 
   
}