.item-div{
    background-color: grey;
    padding-bottom: 15px;
}

.item-image{
    display: flex;
    padding-left: 10%;
    height: fit-content;
    padding-top: 5%;
    
}

.item-text{
    padding-left: 10%;
    padding-top: 2%;
}
.item-info{
    display: flex;
    padding-left: 30px;
}

.item-other{
    padding-left: 20%;
    align-items: center;
    padding-top: 2%;
}

.add-to-cart{
    margin-top: 15%;
    
}

.review-div{
    background-color: lightgray;
}